@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    font-family: sans-serif;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
}*/

:root {
  --header-bg-color: rgb(1, 163, 144);
  --footer-bg-color: rgb(1, 163, 144);
  --body-bg-color: #e3e3e3;
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-black: rgb(23, 23, 23);
  --light-blue: #0463ac;
  --dark-blue: #070062;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    margin: 20px 100px;
}


@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.res-card-placeholder {
    width: 340px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 5px;
    margin-top: 50px;
    padding-bottom: 30px;
    cursor: pointer;
    animation: shimmer 1.5s infinite linear;
    transition: transform 0.3s ease;
}

.res-card-placeholder:hover {
    transform: scale(0.97);
}

.res-logo-placeholder {
    height: 160px;
    width: 87%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    background: linear-gradient(to right, #f0f0f0 10%, #e0e0e0 30%, #f0f0f0 50%);
    background-size: 1000px 100%;
}

.res-card-heading-placeholder,
.res-card-desc-placeholder {
    height: 20px;
    width: 80%;
    margin-left: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #f0f0f0 10%, #e0e0e0 30%, #f0f0f0 50%);
    background-size: 1000px 100%;
}
