@keyframes shimmer {
  0% {
    background-position: 150% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

.animate-shimmer {
  animation: shimmer 1.5s linear infinite;
  background: linear-gradient(90deg, transparent, #c4c4c4, transparent);
  background-size: 150% 100%; 
}

.bg-gradient-shimmer {
  background: linear-gradient(90deg, #e4e4e4, #c4c4c4, #e4e4e4);
}
